body{font-family:"Hiragino Kaku Gothic ProN","メイリオ","sans-serif";
}

.logo img{
    width:250px;
}

header{
    width:100%;
    height:60px;
    background-color:black;
}

header ul{
    list-style-type:none;
    line-height:60px;
}

header ul li {
    float:left;
    padding-right:50px;
    padding-left:50px;
    color:white;
}

h1{
    width:94%;
    border-left: 4px solid;
    border-bottom: 2px solid;
}

.left{
    float:left;
    width:70%;
    padding-right:50px;
}

form{margin:0 auto;
    background-color:#fbfbfb;
    border:3px #ebebeb solid;
    border-radius:10px;
    width:92%;
    margin-left:5px;
}

form h2{
    border-left:4px red solid;
    margin-left:15px;
}

form div{
    padding:10px;
}

.text, textarea{
    border:1px solid lightgray;
    padding: 5px;
    color:#999;
    background-color:#fff;
}

.submit{
    border:1px solid lightgray;
    padding: 4px 10px;
    color:white;
    background-color:#bfbfbf;
    border-radius:5px;
    border-bottom: solid 2px gray;
}

.kiji{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:5px;
    padding: 0px 10px 10px 10px;
    background-color:#fbfbfb;
    border: 3px #ebebeb solid;
    width: 90%;
}

.kiji h4{
    border-bottom: solid 2px lightgray;
}

.contents{
    margin:5px;
    padding-bottom:5px;
}

.handlename{
    font-size:12px;
}

.right{
    float:left;
    width:25%;
}

h3{
    border-bottom:dashed 1px;
    margin-top:30px;
}

.right ul{
    list-style-type:none;
    margin-left:-35px;
    margin-top:-10px;
    line-height:30px;
}

footer{
    clear:both;
    width:100%;
    height:60px;
    bottom:0px;
    left:0px;
    color:white;
    background-color: black;
    text-align:center;
    line-height:60px;
}